@model WebApplication1.Models.Ksiazki

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Ksiazki</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tytul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h4>Recenzje</h4>
</div>
