@model IEnumerable<WebApplication1.Models.Ksiazki>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="align-content-center"><h1>Recenzje Książek</h1></div>
<div class="grid">
@foreach (var item in Model)
{
    <div class="book">

       <img src="@Html.DisplayFor(modelItem => item.ImgURL)"/>

       <h3>@Html.DisplayFor(modelItem => item.Tytul)</h3>

       <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>

        @*@Html.DisplayFor(modelItem => item.Ocena)*@
    @* 
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    *@
    </div>

}